{% extends 'base.html' %}

{% block content %}
  <h2>Agregar video</h2>
  <form method="post" action="{% url 'videos:agregar_video' %}">
    {% csrf_token %}
    <label for="nombre">Nombre del video:</label>
    <input type="text" id="nombre" name="nombre"><br>

    <label for="url">URL:</label>
    <input type="text" id="url" name="url"><br>

    <label for="fecha">Fecha de publicación:</label>
    <input type="date" id="fecha" name="fecha"><br>

    <button type="submit">Guardar</button>
  </form>
{% endblock %}
